* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header {
  background-color: aquamarine;
  width: 100%;
  height: 16vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-first {
  background: #00796b;
  color: #fff;
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 0 120px;
}

.header-contact {
  display: flex;
  gap: 5px;
}
.header-contact p {
  margin-right: 20px;
}
.header-contact p:nth-of-type(1):hover {
  cursor: pointer;
  text-decoration: underline;
}
.header-contact i {
  padding-top: 3px;
}
.header-icons {
  display: flex;
  gap: 20px;
  color: #c0bebe;
  font-size: 15px;
  cursor: pointer;
}
#tw {
  transition: 0.3s;
}
#fb {
  transition: 0.3s;
}
#ig {
  transition: 0.3s;
}
#li {
  transition: 0.3s;
}
#tw:hover {
  color: #fffafa;
  transition: 0.3s;
}
#fb:hover {
  color: #fffafa;
  transition: 0.3s;
}
#ig:hover {
  color: #fffafa;
  transition: 0.3s;
}
#li:hover {
  color: #fffafa;
  transition: 0.3s;
}

.header-second {
  background-color: #008374;
  width: 100%;
  height: 10vh;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
}

.header-logo a {
  display: flex;
  align-items: center;
  height: 100%;
  width: 20%;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
}
.header-logo p:nth-of-type(2) {
  color: orangered;
}
.header-links {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  color: #d0cbcbc2;
  font-size: 16px;
  font-weight: bold;
}
.header-links p:nth-of-type(1) {
  border-bottom: 2px solid orangered;
  padding: 10px;
  color: #fff;
}
.header-links p:nth-of-type(1):hover {
  cursor: pointer;
}
.header-links p:nth-of-type(2):hover {
  cursor: pointer;
}
.header-links p:nth-of-type(3):hover {
  cursor: pointer;
}
.header-links p:nth-of-type(4):hover {
  cursor: pointer;
}
.header-links p:nth-of-type(5):hover {
  cursor: pointer;
}
.header-links p:nth-of-type(6):hover {
  cursor: pointer;
}
.header-links p:nth-of-type(7):hover {
  cursor: pointer;
}
.header-links p:nth-of-type(8):hover {
  cursor: pointer;
}
.header-links i {
  margin-left: -25px;
  font-size: 10px;
}

.welcome {
  width: 100%;
  height: 100vh;
  background-color: #008374;
  display: flex;
  padding: 0 120px;
}

.welcome-first {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #c0bebe;
  gap: 25px;
  font-size: 18px;
}
.welcome-first h1 {
  color: #fff;
  font-size: 50px;
}
.welcome-second {
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
}
.welcome-links {
  display: flex;
}
.welcome a:nth-of-type(1) {
  height: 55px;
  width: 180px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #008d7d;
  border: 2px solid #c0bebe57;
  border-radius: 40px;
  font-weight: 600;
  transition: 0.5s;
}
.welcome a:nth-of-type(1):hover {
  border: 2px solid #ffffffbf;
  transition: 0.5s;
}

.welcome a:nth-of-type(2) {
  height: 55px;
  width: 180px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  font-weight: 600;
}
.welcome i {
  font-size: 30px;
  color: #c0bebe;
  transition: 0.5s;
}
.welcome i:hover {
  color: #f6f4f4;
  transition: 0.5s;
}

.welcome-card {
  width: 82%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative;
  top: -125px;
  left: 120px; */
  margin: -125px auto;
  gap: 20px;
  border-radius: 10px;
  color: #fffefe96;
  font-size: 24px;
}

.welcome-card i {
  font-size: 40px;
  padding-bottom: 10px;
}
.welcome-card h4 {
  color: #fff;
}

.welcome-card1 {
  flex-basis: 30%;
  height: 100%;
  background-color: #008d7d;
  border-radius: 10px;
  box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
  text-align: center;
  padding: 60px 40px;
  cursor: pointer;
  transition: 0.5s;
}
.welcome-card2 {
  flex-basis: 30%;
  height: 100%;
  background-color: #008d7d;
  border-radius: 10px;
  text-align: center;
  padding: 60px 40px;
  box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
  cursor: pointer;
  transition: 0.5s;
}
.welcome-card3 {
  flex-basis: 30%;
  height: 100%;
  background-color: #008d7d;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
  text-align: center;
  padding: 60px 40px;
  cursor: pointer;
  transition: 0.5s;
}
.welcome-card4 {
  flex-basis: 30%;
  height: 100%;
  background-color: #008d7d;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
  text-align: center;
  padding: 60px 40px;
  cursor: pointer;
  transition: 0.5s;
}

.welcome-card1:hover {
  background-color: #019786;
  transition: 0.5s;
}
.welcome-card2:hover {
  background-color: #019786;
  transition: 0.5s;
}
.welcome-card3:hover {
  background-color: #019786;
  transition: 0.5s;
}
.welcome-card4:hover {
  background-color: #019786;
  transition: 0.5s;
}

.about-us {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0px 120px;
  margin-top: 200px;
}
.about-us hr {
  width: 50px;
  color: #00796b;
  border: 2px solid #00796b;
}
.about-us p {
  color: #6f6f6f;
}

.about-us-main {
  width: 100%;
  height: 820px;
  padding: 50px 120px;
  display: flex;
  gap: 50px;
  font-size: 17px;
  color: #222222;
}
.about-us-main p {
  color: #6f6f6f;
}
.about-us-main1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-us-main1 h3 {
  font-size: 28px;
}
.about-us-main1 img {
  border-radius: 20px;
}
.about-us-main2 {
  width: 50%;
  height: 100%;
}
#italic {
  font-style: italic;
}
.iconsp {
  padding-top: 20px;
  width: 100%;
  height: 200px;
  display: flex;
}

.iconsp i {
  color: #008374;
  font-size: larger;
}
.about-us-main2-icons {
  width: 10%;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-us-main2-p {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: -20px;
}
#zadnji {
  margin-top: -30px;
}
.about-us-main2 img {
  margin-top: 30px;
  height: 400px;
  border-radius: 20px;
}
#video {
  color: #008374;
  font-size: 60px;
  background-color: #01978546;
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  right: 320px;
  top: 1620px;
  transition: all 0.5s;
}
#video:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.711);
  transition: 0.5s;
}

.brands {
  padding: 0 120px;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brands img {
  height: 30px;
  transition: all 0.5s;
}
.brands img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.statistics {
  width: 100%;
  height: 300px;
  padding: 0 120px;
  display: flex;
}

.statistics1 {
  width: 50%;
  height: 100%;
}
.statistics1 img {
  height: 100%;
  width: 100%;
}
.statistics2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.statistics2-first {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  gap: 5px;
  color: #6f6f6f;
}
.statistics2-first span:nth-of-type(1) {
  color: #008374;
  font-size: 40px;
  font-weight: bold;
  margin-right: 20px;
}
.statistics2-first span:nth-of-type(2) {
  color: black;
  font-weight: bold;
}
.statistics2-second {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  gap: 5px;
  color: #6f6f6f;
}
.statistics2-second span:nth-of-type(1) {
  color: #008374;
  font-size: 40px;
  font-weight: bold;
  margin-right: 20px;
}
.statistics2-second span:nth-of-type(2) {
  color: black;
  font-weight: bold;
}
.statistics2-third {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  gap: 5px;
  color: #6f6f6f;
}
.statistics2-third span:nth-of-type(1) {
  color: #008374;
  font-size: 40px;
  font-weight: bold;
  margin-right: 20px;
}
.statistics2-third span:nth-of-type(2) {
  color: black;
  font-weight: bold;
}

.main-video {
  width: 85%;
  margin: auto;
  height: 500px;
  margin-top: 60px;
  background-image: url(https://bootstrapmade.com/demo/templates/Impact/assets/img/cta-bg.jpg);
  background-size: cover;
  border-radius: 15px;
  margin-bottom: 60px;
}

.main-video-child {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.563);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: #f6f4f4;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 70px;
}

.main-video-child p:nth-of-type(1) {
  text-align: center;
  font-weight: 18px;
}

#video2 {
  color: #008374;
  font-size: 60px;
  background-color: #01978546;
  padding: 15px;
  border-radius: 50%;
  transition: all 0.5s;
}
#video2:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.711);
  transition: 0.5s;
}

.main-video-child p:nth-of-type(2) {
  border: 2px solid white;
  width: 200px;
  height: 50px;
  border-radius: 40px;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  transition: 1s;
  cursor: pointer;
}

.main-video-child p:nth-of-type(2):hover {
  background-color: #008374;
  border: 2px solid #008374;
  transition: 1s;
}

.services {
  width: 100%;
  height: 1000px;
  background-color: #f6f6f6;
  padding: 0 120px;
}

.services1 {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.services1 p:nth-of-type(1) {
  font-size: 34px;
  font-weight: 500;
}
.services1 p:nth-of-type(2) {
  color: #6f6f6f;
  font-size: 17px;
}
.services1 hr {
  border: 2px solid #008374;
  width: 50px;
}

.services2 {
  width: 100%;
  height: 68%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.services-card {
  width: 30%;
  height: 50%;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.services-card p:nth-of-type(1) {
  font-size: 25px;
  font-weight: 600;
}
.services-card p:nth-of-type(2) {
  color: #222222c7;
}
.services-card p:nth-of-type(3) {
  color: #008374;
}
.services-card i:nth-of-type(1) {
  font-size: 35px;
}
#right {
  position: relative;
  top: -42px;
  left: 83px;
  color: #029d8a;
}
.services-card {
  width: 30%;
  height: 50%;
  background-color: #fff;
  border-radius: 10px;
}
.services-card {
  width: 30%;
  height: 50%;
  background-color: #fff;
}
.services-card {
  width: 30%;
  height: 50%;
  background-color: #fff;
}
.services-card {
  width: 30%;
  height: 50%;
  background-color: #fff;
}
.services-card {
  width: 30%;
  height: 50%;
  background-color: #fff;
}

.testimonials {
  width: 100%;
  height: 100vh;
  padding: 0 120px;
}

.testimonials1 {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
}
.testimonials1 p:nth-of-type(1) {
  font-size: 34px;
  font-weight: 500;
}
.testimonials1 p:nth-of-type(2) {
  color: #6f6f6f;
  font-size: 17px;
}
.testimonials1 hr {
  border: 2px solid #008374;
  width: 50px;
}

.testimonials2 {
  width: 100%;
  height: 60%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials-card {
  height: 80%;
  width: 28%;
  box-shadow: 0px 0 15px rgb(0 0 0 / 10%);
  border-radius: 10px;
}

.testimonials3 {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding-top: 30px;
}

.testimonials3 i {
  color: #c0bebe;
  font-size: 12px;
  cursor: pointer;
}
.testimonials3 i:nth-of-type(1) {
  color: #008374;
}

.card-child1 {
  width: 100%;
  height: 40%;
  padding: 20px;
}
.card-child1 img {
  height: 100%;
  width: 30%;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.card-child1 span:nth-of-type(1) {
  font-size: 20px;
  font-weight: bold;
}
.card-child1 span:nth-of-type(2) {
  color: #c0bebe;
  padding-top: 5px;
}
.card-child1 i {
  color: gold;
  margin-top: 10px;
}
.card-child2 {
  padding: 0 20px;
  font-style: italic;
  color: #6f6f6f;
}
.card-child2 i:nth-of-type(1) {
  color: #008374;
  position: relative;
  top: -5px;
  font-size: 26px;
}
.card-child2 i:nth-of-type(2) {
  color: #008374;
  position: relative;
  top: 10px;
  font-size: 26px;
  padding-left: 10px;
}
.card-child2 span {
  padding-left: 10px;
}

.portfolio {
  width: 100%;
  height: 1800px;
  background-color: #f6f6f6;
  padding: 0 120px;
}

.portfolio1 {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.portfolio1 p:nth-of-type(1) {
  font-size: 34px;
  font-weight: 500;
}
.portfolio1 p:nth-of-type(2) {
  color: #6f6f6f;
  font-size: 17px;
}
.portfolio1 hr {
  border: 2px solid #008374;
  width: 50px;
}

.portfolio2 {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  color: #222222;
}
.portfolio2 p:nth-of-type(1) {
  color: #008374;
}
.portfolio2 p {
  cursor: pointer;
  transition: 0.4s;
}
.portfolio2 p:hover {
  color: #008374;
  transition: 0.4s;
}

.portfolio3 {
  width: 100%;
  height: 230vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-card {
  width: 350px;
  height: 350px;
  background-color: #fffefe;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}
.portfolio3 img {
  width: 100%;
  height: 70%;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.portfolio3 p:nth-of-type(1) {
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
}
.portfolio3 p:nth-of-type(2) {
  color: #6f6f6f;
  padding-left: 20px;
}

.our-team {
  width: 100%;
  height: 97vh;
  padding: 0 120px;
}
.our-team1 {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.our-team1 p:nth-of-type(1) {
  font-size: 34px;
  font-weight: 500;
}
.our-team1 p:nth-of-type(2) {
  color: #6f6f6f;
  font-size: 17px;
}
.our-team1 hr {
  border: 2px solid #008374;
  width: 50px;
}

.our-team2 {
  width: 100%;
  height: 450px;
  display: flex;
  gap: 20px;
}
.our-team-card {
  width: 25%;
  height: 83%;
  border-radius: 10px;
  box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
  padding: 15px;
  text-align: center;
  color: #222222;
}
.our-team2 img {
  height: 220px;
  width: 100%;
  border-radius: 10px;
}
.our-team-card p:nth-of-type(1) {
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
}
.our-team-card p:nth-of-type(2) {
  font-size: 14px;
  font-style: italic;
  color: #9e9d9d;
  padding-top: 5px;
  padding-bottom: 10px;
}
.our-team-card i {
  color: #9e9d9d;
  font-size: large;
  border: 1px solid #9e9e9e;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.our-team-card i:hover {
  color: #008374;
  border: 1px solid #008374;
  transition: 0.5s;
}

.pricing {
  width: 100%;
  height: 160vh;
  padding: 0 120px;
  background-color: #f6f6f6;
}
.pricing1 {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.pricing1 p:nth-of-type(1) {
  font-size: 34px;
  font-weight: 500;
}
.pricing1 p:nth-of-type(2) {
  color: #6f6f6f;
  font-size: 17px;
}
.pricing1 hr {
  border: 2px solid #008374;
  width: 50px;
}

.pricing2 {
  width: 100%;
  height: 75%;
}
.pricing-card {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-card1 {
  height: 85%;
  width: 32%;
  background-color: white;
  box-shadow: 0 3px 20px -2px rgb(108 117 125 / 15%);
  border-radius: 20px;
  padding-top: 40px;
}
.pricing-card1-first {
  width: 100%;
  height: 40%;
  text-align: center;
  padding: 30px;
}
.pricing-card1-first p {
  font-size: 22px;
  font-weight: 500;
  color: #5c5b5b;
}
.pricing-card1-first span:nth-of-type(1) {
  color: rgb(218, 59, 2);
  font-size: 30px;
  font-weight: bold;
}
.pricing-card1-first span:nth-of-type(2) {
  color: rgb(225, 62, 3);
  font-size: 40px;
  font-weight: bold;
  margin-left: -5px;
}
.pricing-card1-first span:nth-of-type(3) {
  color: #6f6f6f;
  font-weight: 500;
  font-size: 18px;
}
.okvir3 {
  background-color: #00796b;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.okvir2 {
  background-color: #00796b96;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.okvir1 {
  background-color: #00796b33;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
}
.pricing-card1-first i {
  font-size: 24px;
}

.pricing-card1-second {
  color: #6f6f6f;
  text-align: center;
  text-align: justify;
  padding-left: 50px;
  font-size: 16px;
  line-height: 40px;
}
#check {
  color: rgb(1, 165, 1);
  padding-right: 5px;
}
.pricing-card1-second span:nth-of-type(4) {
  color: #9e9d9d;
  margin-left: 10px;
  text-decoration: line-through;
}
.pricing-card1-second span:nth-of-type(5) {
  color: #9e9d9d;
  margin-left: 10px;
  text-decoration: line-through;
}
.pricing-card1-second button {
  height: 50px;
  width: 150px;
  border-radius: 30px;
  font-size: 18px;
  color: #00796b;
  background-color: white;
  border: 1px solid #00796b4a;
  margin: 50px;
  transition: 0.3s;
  cursor: pointer;
}
.pricing-card1-second button:hover {
  color: white;
  background-color: #00796b;
  border: 1px solid #00796b;
  transition: 0.3s;
}
.pricing-card2 {
  height: 100%;
  width: 36%;
  background-color: white;
  box-shadow: 0 3px 20px -2px rgb(108 117 125 / 15%);
  border-radius: 20px;
  padding-top: 40px;
  border: 4px solid #00796b;
}
.pricing-card2-first {
  width: 100%;
  height: 40%;
  text-align: center;
  padding: 30px;
}
.pricing-card2-first p {
  font-size: 24px;
  font-weight: 500;
  color: #5c5b5b;
}
.pricing-card2-first span:nth-of-type(1) {
  color: rgb(218, 59, 2);
  font-size: 30px;
  font-weight: bold;
}
.pricing-card2-first span:nth-of-type(2) {
  color: rgb(225, 62, 3);
  font-size: 45px;
  font-weight: bold;
  margin-left: -5px;
}
.pricing-card2-first span:nth-of-type(3) {
  color: #6f6f6f;
  font-weight: 500;
  font-size: 18px;
}
.okvir3 {
  background-color: #00796b;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.okvir2 {
  background-color: #00796b96;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.okvir1 {
  background-color: #00796b33;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
}
.pricing-card2-first i {
  font-size: 24px;
}

.pricing-card2-second {
  color: #6f6f6f;
  text-align: center;
  text-align: justify;
  padding-left: 50px;
  font-size: 19px;
  line-height: 50px;
}
#check {
  color: rgb(1, 165, 1);
  padding-right: 5px;
}

.pricing-card2-second button {
  height: 50px;
  width: 170px;
  border-radius: 30px;
  font-size: 18px;
  color: #00796b;
  background-color: white;
  border: 1px solid #00796b4a;
  margin-top: 80px;
  margin-left: 60px;
  transition: 0.3s;
  cursor: pointer;
}
.pricing-card2-second button:hover {
  color: white;
  background-color: #00796b;
  border: 1px solid #00796b;
  transition: 0.3s;
}

.pricing-card3 {
  height: 85%;
  width: 32%;
  background-color: white;
  box-shadow: 0 3px 20px -2px rgb(108 117 125 / 15%);
  border-radius: 20px;
  padding-top: 50px;
}
.pricing-card3-first {
  width: 100%;
  height: 40%;
  text-align: center;
  padding: 30px;
}
.pricing-card3-first p {
  font-size: 22px;
  font-weight: 500;
  color: #5c5b5b;
}
.pricing-card3-first span:nth-of-type(1) {
  color: rgb(218, 59, 2);
  font-size: 30px;
  font-weight: bold;
}
.pricing-card3-first span:nth-of-type(2) {
  color: rgb(225, 62, 3);
  font-size: 40px;
  font-weight: bold;
  margin-left: -5px;
}
.pricing-card3-first span:nth-of-type(3) {
  color: #6f6f6f;
  font-weight: 500;
  font-size: 18px;
}
.okvir3 {
  background-color: #00796b;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.okvir2 {
  background-color: #00796b96;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.okvir1 {
  background-color: #00796b33;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
}
.pricing-card3-first i {
  font-size: 24px;
}

.pricing-card3-second {
  color: #6f6f6f;
  text-align: center;
  text-align: justify;
  padding-left: 50px;
  font-size: 16px;
  line-height: 40px;
}
#check {
  color: rgb(1, 165, 1);
  padding-right: 5px;
}

.pricing-card3-second button {
  height: 50px;
  width: 150px;
  border-radius: 30px;
  font-size: 18px;
  color: #00796b;
  background-color: white;
  border: 1px solid #00796b4a;
  margin: 50px;
  transition: 0.3s;
  cursor: pointer;
}
.pricing-card3-second button:hover {
  color: white;
  background-color: #00796b;
  border: 1px solid #00796b;
  transition: 0.3s;
}

.questions {
  width: 100%;
  height: 90vh;
  padding: 0 120px;
  display: flex;
}
.questions1 {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}
.questions1 p:nth-of-type(1) {
  font-size: 40px;
  color: #434242;
  font-weight: 400;
  line-height: 45px;
}
.questions1 p:nth-of-type(2) {
  font-size: 40px;
  font-weight: 600;
  align-self: flex-start;
  margin-top: -10px;
}
.questions1 p:nth-of-type(3) {
  color: #6f6f6f;
  padding-right: 25px;
}
.questions2 {
  width: 65%;
  height: 100%;
  padding-top: 50px;
}
.questions-card {
  width: 100%;
  min-height: 50px;
  box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 6%);
  padding: 20px 20px 20px 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  display: flex;
}
.card-span {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
}
.card-span span:nth-of-type(1) {
  color: #008374;
  margin-right: 10px;
}
.card-span span:nth-of-type(2) {
  padding-right: 20px;
}

.card-i {
  width: 10%;
  height: 100%;
  padding-left: 40px;
}

.blog {
  width: 100%;
  height: 100vh;
  padding: 0 120px;
  background-color: #f6f6f6;
}
.blog1 {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.blog1 p:nth-of-type(1) {
  font-size: 34px;
  font-weight: 500;
}
.blog1 p:nth-of-type(2) {
  color: #6f6f6f;
  font-size: 17px;
}
.blog1 hr {
  border: 2px solid #008374;
  width: 50px;
}

.blog2 {
  width: 100%;
  height: 75%;
  display: flex;
  gap: 20px;
}

.blog-card {
  width: 33%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
  background-color: #fff;
}
.blog-card-child1 {
  width: 100%;
  height: 50%;
}
.blog-card-child1 img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.blog-card-child2 {
  width: 100%;
  height: 25%;
  padding: 20px 20px;
}
.blog-card-child2 p:nth-of-type(1) {
  color: #6f6f6f;
  font-size: 18px;
}
.blog-card-child2 p:nth-of-type(2) {
  font-size: 22px;
  font-weight: 700;
  color: #222222;
  padding-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.blog-card-child2 p:nth-of-type(2):hover {
  color: #00796b;
  transition: 0.3s;
}
.blog-card-child3 {
  width: 100%;
  height: 20%;
  padding: 20px;
  display: flex;
}
.child3-img {
  height: 100%;
  width: 20%;
}
.child3-img img {
  height: 100%;
  width: 90%;
  border-radius: 50%;
}
.child3-p {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  padding-left: 10px;
  gap: 7px;
  color: #6f6f6f;
}
.child3-p p:nth-of-type(1) {
  font-weight: 600;
  color: #434242;
}

.contact {
  width: 100%;
  height: 105vh;
  padding: 0 120px;
}
.contact1 {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.contact1 p:nth-of-type(1) {
  font-size: 34px;
  font-weight: 500;
}
.contact1 p:nth-of-type(2) {
  color: #6f6f6f;
  font-size: 17px;
}
.contact1 hr {
  border: 2px solid #008374;
  width: 50px;
}

.contact2 {
  width: 100%;
  height: 460px;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
  display: flex;
  color: #fff;
}

.contact2-child1 {
  width: 35%;
  height: 100%;
  background-color: #00796b;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 20px;
}
.child1-card {
  width: 100%;
  height: 90px;
  background-color: #008d7d;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
}
.contact-icon {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-icon i {
  background-color: #19a998;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
}
.contact-icon i:hover {
  background-color: #fff;
  color: #19a998;
}
.contact-p {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-p p:nth-of-type(1) {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.contact2-child2 {
  width: 65%;
  height: 100%;
}
